body {color: #666;}
h1, h2, h3, h4, h5, h6, p { font-family: 'Maven Pro'; }
h1 { color: #238ac6 !important; }
.SDToolLogo { width: 210px;  }
.SDToolJumbotron1 { background-image: url("../img/imagen-header.png") !important;  background-size: cover; padding: 50px 80px; border-radius: 6px; box-shadow: 2px 2px 3px #999; }
.SDToolJumbotron1 h1 {     color: #444 !important; text-shadow: 1px 1px 1px #fff; white-space: nowrap; }
.SDToolJumbotron1 p { color: #fff; }
.jumbotron { padding: 0; }
